# Bật chế độ rewrite
RewriteEngine On

# Nếu là file hoặc thư mục thật thì cho truy cập bình thường
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Còn lại mới chuyển về index.php
RewriteRule ^ index.php [QSA,L]

# Đặt UTF-8 làm mã hóa mặc định
AddDefaultCharset utf-8

# Bảo vệ file nhạy cảm
<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|bak|sql)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>